<div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1" style="text-align:center;margin-top:3em;">
        <legend style="font-size:300%;padding-top:1em;">Level 15</legend>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
                <img class="img img-responsive" src="/img/15/1/pic.jpg">
                <img class="img img-responsive" src="/img/15/2/pic.jpg">
                <img class="img img-responsive" src="/img/15/3/pic.jpg">
                <form role="form" method="post" action="/ans" style="margin-top:2em;">
                    <div class="input-group">
                        <input type="text" name="answer" class="form-control" placeholder="Answer">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary" type="button">Go!</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
