<div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1" style="text-align:center;margin-top:3em;">
        <legend style="font-size:300%;padding-top:1em;">Level 16</legend>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1">
                <img class="img img-responsive col-md-6" src="/img/16/1/pic.jpg">
                <img class="img img-responsive col-md-6" src="/img/16/2/pic.jpg">
            </div>
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <form role="form" method="post" action="/ans" style="margin-top:2em;">
                    <div class="input-group">
                        <input type="text" name="answer" class="form-control" placeholder="Answer">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary" type="button">Go!</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
