<div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1" style="text-align:center;margin-top:3em;">
        <legend style="font-size:300%;padding-top:1em;">Level 28</legend>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
                <pre>
VERIFY THIS QUESTION ONCE WITH ABHINAU

a) asmj mg mpz aybw 
Edit: (add) UCuxw5CLxn7lSOMqTmVlglyQ - leads to chupa chups, owned by perfetti van melle
    /*
b) the key for the above encryption, is a privately held Italian-Dutch global manufacturer of      confectionery and gum. It was formed in 2001.
c) so what is the association between this company and the encryption ?
*/
                </pre>
                <form role="form" method="post" action="/ans" style="margin-top:2em;">
                    <div class="input-group">
                        <input type="text" name="answer" class="form-control" placeholder="Answer">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary" type="button">Go!</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
