<div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1" style="text-align:center;margin-top:3em;">
        <legend style="font-size:300%;padding-top:1em;">Level 30</legend>
        <div class="row">
            <div class="col-md-12">
                <p>
                    How old? Are These what Sweet Dreams Made Of? Guy... Get rid of An excess of phlegm.<br>
                    I was looking at the 9th character from the left ( After the Great "Equal To" movement, we were supposed to call each other only as characters, as decreed by the Great Council of SJWs) doing an act called the "Careless Whisper".<br>
                    Wham! I hit the character for that and yelled
                    "Hey Ass! Key it in."<br>
                    Then, one of the most grisly murders of the last century happened. I think twelve were supposed to happen.<br>
                    The guy got famous again<br>
                </p>
            </div>
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <form role="form" method="post" action="/ans" style="margin-top:2em;">
                    <div class="input-group">
                        <input type="text" name="answer" class="form-control" placeholder="Answer">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary" type="button">Go!</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
