<!DOCTYPE html>
<html lang="en"><head>
  <meta charset="utf-8">
  <title>Cryptex | &eta;vision 2017 | Elan 2017 | IIT Hyderabad</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <meta property="og:title" content="">
	<meta property="og:type" content="website">
	<meta property="og:url" content="">
	<meta property="og:site_name" content="">
	<meta property="og:description" content="">

  <!-- Styles -->
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900|Montserrat:400,700' rel='stylesheet' type='text/css'>


  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/grayscale.css">

<style>
  .nav-logo {
    width: 300px;
  }
  @media (max-width: 768px) {
    .brand-heading {
      margin-top: 3em;
    }
    .nav-logo {
      width: 150px;
    }
    .navbar {
      min-height: 15%;
    }
  }
  legend {
    color: white;
  }
</style>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-89025632-2', 'auto');
  ga('send', 'pageview');

</script>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<header>
<div class="navbar navbar-inverse navbar-fixed-top" style="background: transparent">
  <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand page-scroll" href="#page-top">
            <img class="nav-logo" src="/img/merger-logo.png" alt="nvision logo"></img>
        </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/leaderboard" target="_blank">Leaderboard</a></li>
        <li><a href="http://forum.cryptex.nvision.org.in" target="_blank">Forum</a></li>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</div>
</header>

<div class="container-fluid">
  {{{body}}}
</div>

<div class="alert row col-md-6 col-md-offset-3 center" style="margin-top: 2em;"></div>

<!-- Javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.11.0.min.js"><\/script>')</script>
<script src="js/wow.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>

<script>
$(document).ready(function(){
  $("input").on('focus', function(){
    $(".alert").removeClass("alert-danger").html("");
  });
  $("form").submit(function(e){
    e.preventDefault();
    $.post($(this).attr('action'), {answer: $("input[name='answer']").val()}, function(data, sts){
      if (sts == "success") {
        if (data.correct) {
          $('.alert').addClass('alert-success').html('Yo! Correct answer. <a href="/play" style="color: green; text-decoration: underline">Next Level</a>');
        }
        else if (data.url) {
          location = data.url;
        }
        else {
          $('.alert').addClass('alert-danger').html('Oops! You got it wrong. Try again');
        }
      }
    });
  });
});
</script>

</body>
</html>
