<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="/">
                <img src="/img/merger-logo.png" alt="nvision logo" style="width: 300px"></img>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="/"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">About</a>
                    </li><li>
                    <a class="page-scroll" href="/signout">Signout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Profile Section -->
<section id="profile" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Yo!</h2>
            <p>The event starts 13th January</p>
            {{#if uname}}
                <p class="lead wow fadeIn" data-wow-delay="0.5s">Hey, {{uname}}! Below are the rules of the game :D</p>
                <!-- <a href="/play"><button type="submit" class="btn btn-primary btn-lg">Lets Hunt Some stars</button></a> -->
            {{else}}
                <p class="lead wow fadeIn" data-wow-delay="0.5s">Choose your username to get started</p>
                <br />
                <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                  {{#if wronguname}}
                    <div class="alert alert-danger" role="alert">Username has already been taken or is invalid, please try again</div>
                  {{/if}}
                  <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                      <form role="form" method="post" action="/uname">
                        <div class="form-group">
                          <input type="text" name="uname" class="form-control" placeholder="Enter Username">
                          <br>
                          <button type="submit" id="submitButton" class="btn btn-primary btn-lg">Go!</button>
                        </div>
                      </form>
                    </div>
                  </div><!--End Form row-->
                </div>
              </div>
            {{/if}}

        </div>
    </div>
</section>

<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>CRYPTEX</h2>
            <p style="text-align: justify;">Participants are invited to test out their googling skills and solve a series of seemingly senseless questions. Lets see if you can connect the dots ....</p>
            <ul style="font-size: 1.5em;text-align: left;">
                <li style="margin: 0.5em;">You'll be given a question in the form of text , images or media. The goal is to understand all the clues given and reach a conclusion.</li>
                <li style="margin: 0.5em;">Only after solving one question can you proceed to the next.</li>
                <li style="margin: 0.5em;">The game ends once a contestant solves all the questions</li>
                <li style="margin: 0.5em;">Participants are encouraged to heavily exploit the internet 😛</li>
                <li style="margin: 0.5em;">The clues will be given out based on the organisers discretion</li>
                <li style="margin: 0.5em;">The game should last about 2 days ( unless a genius shows up and solves it all in one day !)</li>
            </ul>
            
            {{!--<p>The event starts on 13th jan. Register Below</p>--}}
            <p>
              Prizes Worth : Rs. 10,000
            </p>
        </div>
    </div>
</section>