<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="/">
                <img src="/img/merger-logo.png" alt="nvision logo" style="width: 300px"></img>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="/"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">About</a>
                    </li><li>
                    <a class="page-scroll" href="/signout">Signout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Profile Section -->
<section id="profile" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Yo!</h2>
            <p>The event starts on 17th January.</p>
            {{!--<p>The event is on.</p>
            {{#if uname}}
                <p class="lead wow fadeIn" data-wow-delay="0.5s">Hey, {{uname}}! Below are the rules of the game :D</p>
                <a href="/play"><button type="submit" class="btn btn-primary btn-lg">Lets Hunt Some stars</button></a>
            {{else}}
                <p class="lead wow fadeIn" data-wow-delay="0.5s">Choose your username to get started</p>
                <br />
                <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                  {{#if wronguname}}
                    <div class="alert alert-danger" role="alert">Username has already been taken or is invalid, please try again</div>
                  {{/if}}
                  <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                      <form role="form" method="post" action="/uname">
                        <div class="form-group">
                          <input type="text" name="uname" class="form-control" placeholder="Enter Username">
                          <br>
                          <button type="submit" id="submitButton" class="btn btn-primary btn-lg">Go!</button>
                        </div>
                      </form>
                    </div>
                  </div><!--End Form row-->
                </div>
              </div>
            {{/if}}--}}

        </div>
    </div>
</section>

<!-- About Section -->
<section id="about" class="container content-section text-center">
    
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>RULES</h2>
            <ol style="font-size: 1.5em;text-align: left;">
                <li style="margin: 0.5em;">The competition will be played individually.</li>
                <li style="margin: 0.5em;">The problem statement is divided into 3 parts: <b style="color:#87b2f8">easy (5 points)</b> , <b style="color:#87b2f8">moderate (10 points)</b> and <b style="color:#87b2f8">difficult (30 points)</b>.</li>
                <li style="margin: 0.5em;">Plagiarism will result in disqualification.</li>
                <li style="margin: 0.5em;">The organisers' verdict is final.</li>
            </ol><br>

            <h2>SUBMISSION RULES</h2>
            <ol style="font-size: 1.5em;text-align: left;">
                <li style="margin: 0.5em;">The matlab code and the answer should be submitted as a <b style="color:#87b2f8">zip file</b> in the portal itself.</li>
                <li style="margin: 0.5em;">Participants are expected to follow the naming convention.<br>
                Example:<br>
                For question 1: <b style="color:#87b2f8">question1.&lt;file_extention&gt;</b><br>
                For question 9: <b style="color:#87b2f8">question9.&lt;file_extention&gt;</b>
                </li>
                <li style="margin: 0.5em;">Submission is not allowed after the set dead line.</li>
                <li style="margin: 0.5em;">You can submit <b style="color:#87b2f8">only once</b>, check properly before submitting.</li>
            </ol>
            
        </div>
    </div>
</section>
