<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="/">
                <img src="/img/merger-logo.png" alt="nvision logo" style="width: 300px"></img>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="/"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">About</a>
                    </li><li>
                    <a class="page-scroll" href="/signout">Signout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<style type="text/css">
</style>
<!-- Profile Section -->
<section id="profile" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Yo!</h2>
            <p>The event is on!</p>
            <a href="/questions" class="form-btn">Check Questions</a>
            <p class="message">{{msg.message}}</p>
            <form action="https://nvision.org.in/elmatrico" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="answer" style="font-size: 1.4em">Upload Answers</label>
                    <strong>(Note: You can only submit once)</strong>
                    <input type="file" accept="application/zip" class="form-control inputfile"  name="answer" id="answer" style="background: rgba(255,255,255,0.1);">
                </div>
                <input type="hidden"  value="{{token}}" name="token">
                <button class="form-btn" type="submit">Submit</button>
            </form>
        </div>
    </div>
</section>

<!-- About Section -->
<section id="about" class="container content-section text-center">
    
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>RULES</h2>
            <ol style="font-size: 1.5em;text-align: left;">
                <li style="margin: 0.5em;">The competition will be played individually.</li>
                <li style="margin: 0.5em;">The problem statement is divided into 3 parts: <b style="color:#87b2f8">easy (5 points)</b> , <b style="color:#87b2f8">moderate (10 points)</b> and <b style="color:#87b2f8">difficult (30 points)</b>.</li>
                <li style="margin: 0.5em;">Plagiarism will result in disqualification.</li>
                <li style="margin: 0.5em;">The organisers' verdict is final.</li>
            </ol><br>

            <h2>SUBMISSION RULES</h2>
            <ol style="font-size: 1.5em;text-align: left;">
                <li style="margin: 0.5em;">You need to submit matlab code for all questions and results in a separate file.</li>
                <li style="margin: 0.5em;">The matlab code and the answer should be submitted as a <b style="color:#87b2f8">zip file</b> in the portal itself.</li>
                <li style="margin: 0.5em;">Participants are expected to follow the naming convention.<br>
                Example:<br>
                For question 1: <b style="color:#87b2f8">question1.m</b> for matlab file and if you have another file for the result, have it in the form <b style="color:#87b2f8">question1.&lt;file_extention&gt;</b><br>
                </li>
                <li style="margin: 0.5em;">Submission is not allowed after the set dead line.</li>
                <li style="margin: 0.5em;">You can submit <b style="color:#87b2f8">only once</b>, check properly before submitting.</li>
            </ol>
            
        </div>
    </div>
</section>
<script type="text/javascript">
$(document).ready(function(){
    $("form").hide();
    $("form").submit(function(){
        $(".message").html("Uploading...");
    })
    $.post('https://nvision.org.in/getElmatrico', {token : '{{token}}'}, function(data, sts){
        console.log(data);
        if (data.status === false) {
            $("form").show();
        }
        if (data.status === true) {
            $(".message").html("You have successfully answered.");
        }
    })
    {{#if msg}}
    
    {{/if}}
});
</script>
