<style>
body{
    background-image: url(/img/levels/treasure.jpg);
    background-size: cover;
}
    
.row-cen {
    text-align:center;
    margin-top: 3em;
}

.col-cen {
    display:inline-block;
    float:none;
}
   
</style>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="logo" href="/"><img src="img/font_new_recovered.png" alt="Logo"></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/leaderboard">Leaderboard</a></li>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</div>

<header>
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <a href="/"><img src="img/font_new_recovered.png" alt="Logo"></a>
      </div>
      <div class="col-xs-6 signin text-right navbar-nav hidden-xs hidden-sm">
        <a href="/leaderboard">Leaderboard</a>
      </div>
    </div>

      <div class="row row-cen">
        <div class="col-lg-12 col-cen">
            <p style="font-size:350%;margin-top:2em;">
            <img src="/img/levels/y.png" height="100em" width="100em" >
            <img src="/img/levels/o.png" height="100em" width="100em">
            <img src="/img/levels/u.png" height="100em" width="100em">
            <img src="/img/levels/m.png" height="100em" width="100em" style="margin-left:1em">
            <img src="/img/levels/a.png" height="100em" width="100em">
            <img src="/img/levels/d.png" height="100em" width="100em">
            <img src="/img/levels/e.png" height="100em" width="100em">
            <img src="/img/levels/i.png" height="100em" width="35em" style="margin-left:1em">
            <img src="/img/levels/t.png" height="100em" width="100em">
            </p>
          <audio src="/img/levels/applause.mp3" autoplay></audio>
          <audio src="/img/levels/ocean.mp3" autoplay></audio>
        </div>  
        
      </div>
  </div>
</header>

<!-- Javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.11.0.min.js"><\/script>')</script>
<script src="js/wow.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
